html, body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #87cfeb;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.scene {
    margin: 0px;
    padding: 0px;
    display: none;
}

button {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    display: block;
    margin: auto;
}

.invisibleButton {
    background-color: transparent; 
    border: none; 
    margin: 0px; 
    padding: 0px;
}

.icon {
    width: 20px;
    margin: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    background-color: grey;
}

.left-content, .right-content {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.small-button {
    border: 3px solid black;
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
}

/*Button colors*/
.achiev-button {
    background-color: rgb(255, 255, 100);
}

.stats-button {
    background-color: rgb(252, 180, 180);
}

.settings-button {
    background-color: rgb(153, 153, 153);
}

.milk-button {
    background-color: #87cfeb;
}

.cheese-button {
    background-color: rgb(255, 225, 58);
}

.big-p {
    padding: 10px; 
    font-size: 20px; 
    text-align: center;
}

.get-milk-button {
    padding: 10px; 
    background-color: #5dbeff;
}

.get-milk-button img {
    display: block;
    margin: auto;
}

.centered {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.settingButton {
    width: 100px;
    height: 60px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
}

.building-button {
    background-color: #cae8fc;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    margin: 10px;
    border-radius: 8px;
}

.info-text {
    font-size: 10px;
    text-align: center;
}

.info-text-small {
    font-size: 8px;
}

.alert-stack {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 35px;
    right: 0;
    margin: 5px;
    min-width: 200px;
    width: 25%;
    -webkit-mask-image: linear-gradient(to top, black 200px, transparent 300px);
    mask-image: linear-gradient(to top, black 200px, transparent 300px);
    max-height: 300px;
    overflow: auto;
}

.alert {
    background-color: lightgrey;
    padding: 3px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 5px;
}

.alert p {
    font-size: 12px;
    margin: 1px;
    padding: 1px;
}

.alert button {
    margin: 2px;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 10px;
    background-color: #87cfeb;
    height: 35px;
}

footer img {
    width: 17px;
    margin: 5px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
    display: block;
    background-color: white;
}

.achievement {
    border: 5px solid black;
    background-color: grey;
    border-radius: 10px;
    width: 200px;
    margin: 10px;
}